{% load static %}
<header class="header">
    <div class="header-container">
        <a class="navbar-brand" href="{% url 'blog:index' %}">
            <img src="{% static 'img/logo.png' %}" alt="Логотип" width="30" height="30">
            Блогикум
        </a>
        <nav class="nav">
            {% with request.resolver_match.view_name as view_name %}
            <a class="nav-link{% if view_name == 'blog:index' %} active{% endif %}" href="{% url 'blog:index' %}">Лента записей</a>
            <a class="nav-link{% if view_name == 'pages:about' %} active{% endif %}" href="{% url 'pages:about' %}">О проекте</a>
            <a class="nav-link{% if view_name == 'pages:rules' %} active{% endif %}" href="{% url 'pages:rules' %}">Наши правила</a>
            {% endwith %}
        </nav>
    </div>
</header>
