{% load static %}

<header class="header">
    <div class="header-container">
        <a class="navbar-brand" href="{% url 'blog:index' %}">
            <img src="{% static 'img/logo.png' %}" alt="Логотип" height="50">
            Блогикум
        </a>
        <nav class="nav">
            {% with request.resolver_match.url_name as url_name %}
            <a class="nav-link {% if url_name == 'index' %}active{% endif %}" 
               href="{% url 'blog:index' %}">
                Главная
            </a>
            <a class="nav-link {% if url_name == 'rules' %}active{% endif %}" 
               href="{% url 'blog:rules' %}">
                Правила
            </a>
            {% endwith %}
        </nav>
    </div>
</header>
